.container form {
   top: 50%;
   left: 50%;
   right: auto;
   bottom: auto;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

.form-group {
   position: relative;
   width: 50%;
}

.form-group select {
   display: block;
   align-content: center;
}
