.list {
   display: inline;
   margin: 20px auto;
}

.cart-row {
   margin-top: 10px;
   margin-bottom: 10px;
   box-shadow: 0.5px 2px #8b8b8b2c;
   padding: 5px 5px;
}

.list-item-name {
   font-size: 15px;
   font-weight: 600;
   margin: 5px;
   color: midnightblue;
}

.list-item-price {
   font-size: 13px;
   font-weight: 400;
   margin: 5px;
   color: rgb(0, 0, 0);
}

.btn-kapat {
   color: white;
   text-align: center;
   background: linear-gradient(to right, #615f5f, #4d4d4d);
   border: whitesmoke;
   border-radius: 2px;
   text-decoration: none;
   padding: 10px 10px;
   margin: auto;
}

.btn-tamamla {
   color: white;
   text-align: center;
   background: linear-gradient(to right, #ff416c, #ff4b2b);
   border: whitesmoke;
   border-radius: 2px;
   text-decoration: none;
   padding: 10px 10px;
   margin: auto;
   margin-left: 5px;
}

.btn-temizle {
   color: white;
   text-align: center;
   background: linear-gradient(to right, #ffb663, #ff9a03);
   border: whitesmoke;
   border-radius: 2px;
   text-decoration: none;
   padding: 10px 10px;
   margin: auto;
   margin-left: 5px;
}
